@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}
/*----------------------- navbar start -------------------*/

.header{
    background-color: #F4FEFF;
    border-bottom: 1px solid #E2E8F0;
}
.container{
    max-width: 1300px;
    margin: auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #101010;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    margin-left: 50px;
}

.nav-link{
    font-size: 17px;
    font-weight: 400;
    color: #450b78;
}

.nav-link:hover{
    color: #D751E6;
}

.nav-logo{
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #450b78;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .navbar{
        padding: 20px;
    }

}
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
/*----------------------- navbar end -------------------*/

/*----------------------- header section start ---------*/
/*-------- header-row-1 --------*/
.header-container{
    background-color: #F4FEFF;
}
.header-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.header-row-1 h3{
    font-size: 20px;
    color: #2b044d;
    font-weight: 400;
    margin-top: 250px;
    margin-bottom: 20px;
}
.header-row-1 h1{
    font-size: 65px;
    color: #2b044d;
    font-weight: 700;
    margin-bottom: 50px;
}
.header-row-1 p{
    font-size: 19px;
    color: #707b8e;
    letter-spacing: 0.3px;
    line-height: 30px;
    margin-bottom: 50px;
}
.header-row-1 a{
    background-color: #F9218D;
    color: #ffffff;
    letter-spacing: 0.5px;
    border-radius: 50px;
    font-size: 20px;
    padding: 20px 50px;
}
.header-row-1 i{
    font-size: 20px;
    color: white;
    background-color: #D852E8;
    padding: 25px;
    margin-left: 20px;
    border-radius: 50px;
}
/*-------- header-row-1 --------*/

/*-------- header-row-2 --------*/
.header-row-2 img{
    margin-left: 200px;
    margin-top: 110px;
}
/*-------- header-row-2 --------*/
/*----------------------- header section end ----------------*/

/*----------------------- Some of the best features start ---*/
.features-section{
    margin-bottom: 150px;
}
.features-row{
    display: grid;
    grid-template-columns: 500px auto;
}
.features-box-1 img{
    margin-top: 150px;
    width: 480px;
} 
.features-box-2 h1{
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #2b044d;
    margin-top: 270px;
}
/*------ support-row --------*/
.support-row{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px;
}
.img-row{
    height: 70px;
    width: 70px;
    background-image: -webkit-linear-gradient(90deg,#e78ae9 0%,#926ef8 100%);
    border-radius: 50px;
}
.support-box img{
    margin-left: 18px;
    margin-top: 18px;
    width: 35px;
}
.support-box{
    display: grid;
    grid-template-columns: 90px auto;
}
.support-margin-left{
    margin-left: ;
}
.box-heding h3{
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 500;
    color: #23182c;
    margin-bottom: 15px;
}
.box-heding p{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: #707b8e;
    font-weight: 400;
}
/*------ support-row --------*/
/*----------------------- Some of the best features end ----*/

/*----------------- How Can We HelpYour with Appco! start --*/
.how-can-we-helpYour{
    background-color: #F4FEFF;
}
.how-can-we-helpYour h1{
    font-size: 55px;
    font-weight: 400;
    text-align: center;
    padding: 100px;
}
/*--------- 3 box ---------*/
.how-can-we-helpYour-3-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.how-can-we-helpYour-box{
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 150px;
}
.active-border-color{
    border: 1px solid #835EF8;
}
.icon-bg{
    background: #e88cea;
    height: 120px;
    width: 120px;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 50px;
    border-radius: 80px;
    transition: all 0.5s ease;
}
.icon-bg:hover{
    background-color: #835EF8;
}
.icon-bg img{
    width: 40px;
    margin-top: 40px;
    margin-left: 40px;
}
.box-2-heading{
    text-align: center;
}
.box-2-heading a{
    font-size: 25px;
    color: #201515;
    transition: all 0.5s ease;
}
.box-2-heading a:hover{
    color: #835EF8;
}
.box-2-heading p{
    font-size: 18px;
    margin-top: 30px;
    line-height: 30px;
    margin-bottom: 80px;
    color: #707b8e;
}
/*----------------- How Can We HelpYour with Appco! end --*/

/*---------------- Applic Apps Screenshot start ----------*/
.screenshot-box{
    display: grid;
    grid-template-columns: 400px auto;
}
.screenshot-row{
    margin-top: 150px;
    margin-bottom: 150px;
}
.screenshot-heading h1{
    margin-top: 50px;
    margin-bottom: 20px;
    color: #2b044d;
    font-size: 40px;
    line-height: 52px;
    font-weight: 500;
}
.screenshot-heading p{
    color: #707b8e;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.4px;
    font-weight: 400;
}

.screenshot-img{
    margin-left: 5px;
}
.screenshot-img img{
    margin-left: 20px;
    width: 200px;
}
/*---------------- Applic Apps Screenshot end ------------*/

/*---------------- Choose Pricing Plan start -------------*/
.choose-pricing-plan-all{
    margin-bottom: 400px;
    background-color: #101010;
}
.choose-pricing-plan{
    background-image: -webkit-linear-gradient(0deg,#f9218d 0%,#6c19f6 100%);
    height: 630px;
}
.choose-pricing-plan-heading h1{
    color: #ffffff;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    padding: 50px;
}
.pricing-plan-box{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.pricing-plan-row{
    height: 570px;
    width: 420px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.pricing-plan-row h3{
    font-size: 28px;
    font-weight: 400;
    padding: 35px;
    text-align: center;
    color: #57667e;
}
.dollar-heading{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
.dollar-heading h2{
    font-size: 50px;
    margin-left: 110px;
    color: #6a56a6;
}
.dollar-heading h4{
    font-size: 20px;
    color: #6a56a6;
    font-weight: 400;
    margin-right: 100px;
    margin-top: 25px;
}
.hr-pricing{
    height: 2px;
    width: 90%;
    margin-left: 20px;
    margin-top: 50px;
    background-color: #f0eaea;
}
.heading-p{
    margin-top: 50px;
    margin-bottom: 50px;
}
.heading-p p{
    text-align: center;
    padding: 10px;
    font-size: 18px;
    line-height: 24px;
    color: #717081;
    font-weight: 300;
}
 /* 15 */
.custom-btn {
    margin-left: 140px;
    width: 150px;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.4s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
 
.btn-15 {
    background: #b621fe;
    border: none;
    z-index: 1;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 5px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }

/*---------------- Choose Pricing Plan end ---------------*/

/*---------------- Our Customers Have to Say start -------*/
.all-our-customers-sectoin{
    margin-bottom: 200px;
}
.our-customers-sectoin h1{
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    color: #2b044d;
    margin-bottom: 50px;
}
.container-other{
    max-width: 1000px;
    margin: auto;
}
.our-customers-box{
    display: flex;
    justify-content: space-between;
}
.our-customers-row{
    height: 450px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
}
.our-customers-row:hover{
    box-shadow: #8f1bdc 2px 2px 0px 2px;
}
.our-customers-heading{
    margin-left: 40px;
}
.all-our-customers-sectoin img{
    margin-top: 50px;
}
.our-customers-heading h3{
    color: #8f1bdc;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.our-customers-heading p{
    color: #707b8e;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

/*---------------- Our Customers Have to Say end -------*/

/*----------- Our App Download now section start -------*/
.our-app-download-section{
    background-image: -webkit-linear-gradient(0deg, #6c19f6 0%, #f9218d 100%);
    height: 750px;
}
.our-app-download-box{
    display: flex;
    justify-content: space-between;
}
.our-app-download-row{
    margin-top: 150px;
}
.our-app-download-row h1{
    color: #ffffff;
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
}
.our-app-download-row p{
    color: #ffffff;
    font-size: 18px;
    line-height: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.app-light-images img{
    width: 600px;
    margin-top: 150px;
}
.our-app-download-row .app-btn-2{
    margin-left: 20px;
}
.shape-img img{
    margin-top: 100px;
    margin-left: -100px;
}
/*----------- Our App Download now section end ---------*/

/*----------- Say Hello To The Collaboration Hub --------*/
.say-hello-collaboration{
    border-bottom: 1px solid #fc1eb2;
    margin-bottom: 150px;
}
.say-hello-collaboration-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.say-hello-collaboration-heading h1{
    font-size: 50px;
    margin-top: 100px;
    font-weight: 500;
}
.say-hello-collaboration-image img{
    position: relative;
    margin-right: -90px;
    margin-top: 10px;
}
.say-hello-btn a{
    font-size: 18px;
    color: #ffffff;
    background-color: #F9218D;
    padding: 20px 40px;
    margin-top: -180px;
    margin-left: 480px;
    border-radius: 25px;
    position: absolute;
}
/*----------- Say Hello To The Collaboration Hub --------*/

/*------------------ fotter section start ----------------*/
.fotter-section{
    margin-bottom: 100px;
}
.fotter-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}
/* logo-and-p */
.logo-and-p img{
    margin-bottom: 40px;
}
.logo-and-p p{
    font-size: 18px;
    color: #868c98;
    line-height: 30px;
}


/* quick-links */
.quick-links h4{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 50px;
}
.quick-links li{
    padding: 10px 0;
}
.quick-links li a{
    font-size: 18px;
    font-weight: 500;
    color: #868c98;;
}


/* support */
.support h4{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 50px;
}
.support li{
    padding: 10px 0;
}
.support li a{
    font-size: 18px;
    font-weight: 500;
    color: #868c98;;
}

/* newsletter */
.newsletter h4{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 50px;
}
.newsletter p{
    font-size: 18px;
    color: #868c98;
    line-height: 30px;
}
.newsletter input{
    font-size: 17px;
    margin-top: 50px;
    font-weight: 600;
    color: #868c98;
    height: 50px;
    width: 220px;
    padding: 10px 20px;
    border: none;
    background-color: #F9F9FE;
}
input[type="email"]{
    outline: none;
  }
.email-addres-icon a{
    background-color: #8F1BDC;
    padding: 15px 25px;
    margin-left: 200px;
    margin-top: -50px;
    position: absolute;
}
/* fotter copyright */
.copyright{
    margin-bottom: 50px;
    text-align: center;
}
.copyright p{
    font-size: 18px;
    color: #868c98;
}
.copyright i{
    color: #f9218d;
    font-size: 20px;
}
.copyright a{
    font-size: 18px;
    color: #f9218d;
}
/*------------------ fotter section end ------------------*/












